* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-size: 16px;
	height: 100%;
}
// .wrapper {
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// }

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5rem;
	// line-height: 3px;
	letter-spacing: 0.25rem;
}

h2 {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	// line-height: 1.563rem;
	font-style: bold;
}

h3 {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.125rem;
	// line-height: 1.563rem;
	font-style: bold;
}

h4 {
	font-family: 'DM Sans', sans-serif;
	font-size: 0.75rem;
	// line-height: 1rem;
	letter-spacing: 0.125rem;
	font-style: bold;
	text-transform: uppercase;
}

// h5 {
// }

// h6 {
// }

p {
	font-family: 'DM Sans', sans-serif;
	font-size: 0.938rem;
	line-height: 1.563rem;
}
// ul,
// ol,
// a {
// }

// ol {
// 	li {
// 	}
// }

// a {
// }
// .active {
// }

// span {
// }

// header {
// }

#toggle {
	position: absolute;
	visibility: hidden;
}

#toggle:checked ~ .verticalNav {
	top: 80px;
	height: 15.813rem;
	transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	@include bp-large {
		top: 0px;
		height: auto;
	}
}
#toggle:checked ~ .overlay label .hamburger-inner {
	transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
	transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

	&::after {
	  top: 0;
	  opacity: 0;
	  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				  opacity 0.1s 0.22s linear;
	}

	&::before {
	  top: 0;
	  transform: rotate(-90deg);
	  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				  transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  }
// Hamburger
// ==================================================
.hamburger {
	padding: $hamburger-padding-y $hamburger-padding-x;
	display: inline-block;
	cursor: pointer;
  
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
  
	// Normalize (<button>)
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
  
	&:hover {
	  @if $hamburger-hover-use-filter == true {
		filter: $hamburger-hover-filter;
	  }
	  @else {
		opacity: $hamburger-hover-opacity;
	  }
	}
  
	&.is-active {
	  &:hover {
		@if $hamburger-hover-use-filter == true {
		  filter: $hamburger-active-hover-filter;
		}
		@else {
		  opacity: $hamburger-active-hover-opacity;
		}
	  }
  
	  .hamburger-inner,
	  .hamburger-inner::before,
	  .hamburger-inner::after {
		background-color: $hamburger-active-layer-color;
	  }
	}
  }
  
  .hamburger-box {
	width: $hamburger-layer-width;
	height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
	display: inline-block;
	position: relative;
  }
  
  .hamburger-inner {
	display: block;
	top: 50%;
	margin-top: $hamburger-layer-height / -2;
  
	&,
	&::before,
	&::after {
	  width: $hamburger-layer-width;
	  height: $hamburger-layer-height;
	  background-color: $hamburger-layer-color;
	  border-radius: $hamburger-layer-border-radius;
	  position: absolute;
	  transition-property: transform;
	  transition-duration: 0.15s;
	  transition-timing-function: ease;
	}
  
	&::before,
	&::after {
	  content: "";
	  display: block;
	}
  
	&::before {
	  top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
	}
  
	&::after {
	  bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
	}
  }
  