.desktop-head {
	@include bp-large {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		display: flex;
		height: 80px;
		background-color: #fff;
		// background-color: red;
		align-items: center;
		justify-content: space-around;
		@include bp-large {
			position: static;
			width: 13.943rem;
			background-color: transparent;
			margin-left: 7.5rem;
		}
		.logo {
			display: flex;
			width: 44%;
			align-items: center;
			justify-content: space-between;
			@include bp-large {
				width: 100%;
			}
			.img {
				width: 17.57%;
				@include bp-large {
					width: auto;
				}
				img {
					width: 100%;
				}
			}
			h2 {
				font-size: 1.063rem;
				@include bp-large {
					font-size: 1.5rem;
				}
			}
		}
		label {
			cursor: pointer;
			display: block;
			position: relative;
			// top: 30px;
			// left: 200px;
			width: 30px;
			height: 16px;
			border-top: 2px solid #000;
			border-bottom: 2px solid #000;
			@include bp-large {
				display: none;
			}
		}
		label::before {
			content: '';
			display: block;
			position: relative;
			top: 5px;
			border-top: 2px solid #000;
		}
	}
	.verticalNav {
		color: $pure-black;
		position: relative;
		top: -125px;
		height: 0rem;
		font-size: 0.938rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $pure-white;
		justify-content: space-evenly;
		transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
		@include bp-large {
			position: static;
			height: auto;
			width: 52.063rem;
			flex-direction: row;
			justify-content: space-around;
		}
		a {
			font-family: 'DM Sans', sans-serif;
			font-weight: 500;
			letter-spacing: 0.313rem;
			display: block;
			color: #111;
			text-decoration: none;
			@include bp-large {
				// margin-right: 2.75rem;
				font-size: 0.75rem;

				letter-spacing: 0.25rem;
			}
			&:last-child {
				border: solid $main-accent-flat 0.125rem;
				padding: 3% 18.46%;
				width: 83.2%;
				background-color: $main-accent-flat;
				text-align: center;
				color: $pure-white;
				@include bp-large {
					padding: 0.75rem 1.6rem;
					width: 11.625rem;
					font-size: 0.75rem;
				}
				&:hover {
					background-color: $pure-white;
					color: $pure-black;
				}
			}
		}
		.mobile-only {
			width: 83.2%;
			height: 1px;
			color: $light-grey;
			background-color: $light-grey;
			@include bp-large {
				display: none;
			}
		}
	}
}

.about {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: black;
	color: white;
	@include bp-large {
		flex-direction: row-reverse;
	}
	.about__green-bar {
		display: none;
		@include bp-large {
			display: block;
			width: 0.75rem;
			height: 19rem;
			position: absolute;
			left: 0;
			margin-top: 10.938rem;
			@include main-gradient;
		}
	}
	.about__img {
		// object-fit: contain;
		width: 100%;
		height: 25.688rem;
		background-position: center;
		background-size: cover;
		background-image: url(/dist/img/cameraShot.png);
		@include bp-large {
			height: 40.625rem;
			width: 51.875rem;
			// width: 57.63%;
		}
	}
	.desktop-flex {
		@include bp-large {
			display: flex;
			flex-direction: column;
			width: 38.125rem;
		}
		.about__text {
			margin: 10.73% 6.66% 0 6.66%;
			padding-bottom: 19.36%;
			@include bp-large {
				margin: 10.938rem 7rem 0 5.375rem;
			}

			h1 {
				padding-bottom: 6.94%;
				font-size: 2.5rem;
			}
			p {
				color: $light-grey;
				font-size: 0.938rem;
			}
		}
		.about__btn {
			font-family: 'DM Sans', sans-serif;
			width: 39.07%;
			// height: 2.78%;
			text-decoration: none;
			color: $pure-white;
			display: flex;
			margin: 0 0 13.47% 6.66%;
			align-items: center;
			letter-spacing: 2px;
			@include bp-large {
				margin-left: 5.375rem;
				width: 21.78%;
			}
			span {
				width: 51.86%;
				margin-right: 10.91%;
				font-size: 0.75rem;
				@include bp-large {
					margin-right: 0.875rem;
					width: 57.2%;
				}
			}
			.btn__arrow {
				width: 31.15%;
				@include bp-large {
					width: 32%;
				}
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: white;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
}
.port {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	color: black;
	@include bp-large {
		flex-direction: row;
	}
	.port__img {
		object-fit: contain;
		width: 100%;
		height: 25.688rem;
		background-position: center;
		background-size: cover;
		background-image: url(/dist/img/artsyPhoto.png);
		@include bp-large {
			height: 40.625rem;
			width: 51.875rem;
			// width: 57.63%;
		}
	}
	.desktop-flex {
		@include bp-large {
			display: flex;
			flex-direction: column;
			width: 38.125rem;
		}
		.port__text {
			margin: 10.73% 6.66% 0 6.66%;
			padding-bottom: 19.36%;
			@include bp-large {
				margin: 10.938rem 4rem 0 7.375rem;
			}
			h1 {
				padding-bottom: 6.94%;
				font-size: 2.5rem;
			}
			p {
				color: black;
				font-size: 0.938rem;
			}
		}
		.port__btn {
			font-family: 'DM Sans', sans-serif;
			width: 53.98%;
			// height: 2.78%;
			text-decoration: none;
			color: black;
			display: flex;
			margin: 0 0 13.47% 6.66%;
			align-items: center;
			letter-spacing: 2px;
			@include bp-large {
				margin-left: 7.375rem;
				width: 33.18%;
			}
			span {
				width: 74.09%;
				margin-right: 5.95%;
				font-size: 0.75rem;
				@include bp-large {
					margin-right: 0.875rem;
				}
			}
			.btn__arrow {
				width: 20.96%;
				@include bp-large {
					width: 23%;
				}
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: black;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
}
.com {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	color: black;
	@include bp-large {
		flex-direction: row-reverse;
	}
	.com__img {
		object-fit: contain;
		width: 100%;
		height: 25.688rem;
		background-position: center;
		background-size: cover;
		background-image: url(/dist/img/icecreamShot.png);
		@include bp-large {
			height: 40.625rem;
			width: 51.875rem;
			// width: 57.63%;
		}
	}
	.desktop-flex {
		@include bp-large {
			display: flex;
			flex-direction: column;
			width: 38.125rem;
		}
		.com__text {
			margin: 10.73% 6.66% 0 6.66%;
			padding-bottom: 19.36%;
			@include bp-large {
				margin: 10.938rem 7rem 0 5.375rem;
			}
			h1 {
				padding-bottom: 6.94%;
				font-size: 2.5rem;
			}
			p {
				color: black;
				font-size: 0.938rem;
			}
		}
		.com__btn {
			font-family: 'DM Sans', sans-serif;
			width: 53.98%;
			// height: 2.78%;
			text-decoration: none;
			color: black;
			display: flex;
			margin: 0 0 13.47% 6.66%;
			align-items: center;
			letter-spacing: 2px;
			@include bp-large {
				margin-left: 5.375rem;
				width: 32.85%;
			}
			span {
				width: 74.09%;
				margin-right: 5.95%;
				font-size: 0.75rem;
			}
			.btn__arrow {
				width: 20.96%;
				@include bp-large {
					width: 22.96%;
				}
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: black;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
}
.wed {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	color: black;
	@include bp-large {
		flex-direction: row;
	}
	.wed__img {
		object-fit: contain;
		width: 100%;
		height: 25.688rem;
		background-position: center;
		background-size: cover;
		background-image: url(/dist/img/coupleShot.png);
		@include bp-large {
			height: 40.625rem;
			width: 51.875rem;
			// width: 57.63%;
		}
	}
	.desktop-flex {
		@include bp-large {
			display: flex;
			flex-direction: column;
			width: 38.125rem;
		}
		.wed__text {
			margin: 10.73% 6.66% 0 6.66%;
			padding-bottom: 19.36%;
			@include bp-large {
				margin: 10.938rem 4rem 0 8.375rem;
			}
			h1 {
				padding-bottom: 6.94%;
				@include bp-large {
					font-size: 2.4rem;
				}
			}
			p {
				color: black;
			}
		}
		.wed__btn {
			font-family: 'DM Sans', sans-serif;
			width: 53.98%;
			// height: 2.78%;
			text-decoration: none;
			color: black;
			display: flex;
			margin: 0 0 13.47% 6.66%;
			align-items: center;
			letter-spacing: 2px;
			@include bp-large {
				margin-left: 8.375rem;
				width: 26.3%;
			}
			span {
				width: 74.09%;
				margin-right: 5.95%;
				font-size: 0.75rem;
				@include bp-large {
					width: 63.57%;
				}
			}
			.btn__arrow {
				width: 20.96%;
				@include bp-large {
					width: 26.44%;
				}
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: black;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
}
.recent-work {
	color: $pure-white;
	@include bp-large {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.lady {
		height: 31.25rem;
		background-image: url(/dist/img/lady-on-left.png);
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5034324942791761) 100%
			),
			url(/dist/img/lady-on-left.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 2.625rem;
		background-position-x: 55%;
		@include bp-large {
			width: 25%;
		}

		h3 {
			padding-top: 22.625rem;
			padding-bottom: 1rem;
		}
		h4 {
			padding-bottom: 1rem;
		}
		.line {
			width: 16.813rem;
			height: 0.06rem;
			background-color: $light-grey;
		}
		.recent-work__btn {
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			letter-spacing: 2px;
			color: $pure-white;
			font-family: 'DM Sans', sans-serif;
			font-weight: 500;
			padding-top: 1rem;
			font-size: 0.75rem;
			width: 16.813rem;
			.btn__arrow {
				width: 15.96%;
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: $pure-white;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
	.homes {
		height: 31.25rem;
		background-image: url(/dist/img/homes.png);
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5034324942791761) 100%
			),
			url(/dist/img/homes.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 2.625rem;
		background-position-x: 55%;
		@include bp-large {
			width: 25%;
		}
		h3 {
			padding-top: 22.625rem;
			padding-bottom: 1rem;
		}
		h4 {
			padding-bottom: 1rem;
		}
		.line {
			width: 16.813rem;
			height: 0.06rem;
			background-color: $light-grey;
		}
		.recent-work__btn {
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			letter-spacing: 2px;
			color: $pure-white;
			font-family: 'DM Sans', sans-serif;
			font-weight: 500;
			padding-top: 1rem;
			font-size: 0.75rem;
			width: 16.813rem;
			.btn__arrow {
				width: 15.96%;
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: $pure-white;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
	.doughnuts {
		height: 31.25rem;
		background-image: url(/dist/img/doughnuts.png);
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5034324942791761) 100%
			),
			url(/dist/img/doughnuts.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 2.625rem;
		background-position-x: 55%;
		@include bp-large {
			width: 25%;
		}
		h3 {
			padding-top: 22.625rem;
			padding-bottom: 1rem;
		}
		h4 {
			padding-bottom: 1rem;
		}
		.line {
			width: 16.813rem;
			height: 0.06rem;
			background-color: $light-grey;
		}
		.recent-work__btn {
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			letter-spacing: 2px;
			color: $pure-white;
			font-family: 'DM Sans', sans-serif;
			font-weight: 500;
			padding-top: 1rem;
			font-size: 0.75rem;
			width: 16.813rem;
			.btn__arrow {
				width: 15.96%;
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: $pure-white;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
	.cherry {
		height: 31.25rem;
		background-image: url(/dist/img/cherry.png);
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5034324942791761) 100%
			),
			url(/dist/img/cherry.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 2.625rem;
		background-position-x: 55%;
		@include bp-large {
			width: 25%;
		}
		h3 {
			padding-top: 22.625rem;
			padding-bottom: 1rem;
		}
		h4 {
			padding-bottom: 1rem;
		}
		.line {
			width: 16.813rem;
			height: 0.06rem;
			background-color: $light-grey;
		}
		.recent-work__btn {
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			letter-spacing: 2px;
			color: $pure-white;
			font-family: 'DM Sans', sans-serif;
			font-weight: 500;
			padding-top: 1rem;
			font-size: 0.75rem;
			width: 16.813rem;
			.btn__arrow {
				width: 15.96%;
				svg {
					width: 100%;
					height: 0.75rem;
					.cls-1 {
						fill: none;
						stroke: $pure-white;
						stroke-miterlimit: 10;
					}
				}
			}
		}
	}
}
.laymens {
	display: flex;
	flex-direction: column;
	margin: 3.563rem 2.25rem;
	@include bp-large {
		flex-direction: row;
		margin: 7.313rem 10.313rem;
	}
	.laymens__aperture {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5.875rem;
		@include bp-large {
			margin-bottom: 0rem;
			align-items: center;
			margin-right: 1.875rem;
			justify-content: center;
		}
		.aperture__img {
			padding-bottom: 2.188rem;
		}
		h3 {
			padding-bottom: 1.875rem;
		}
		p {
			text-align: center;
			font-size: 0.938rem;
		}
	}
	.laymens__depth {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5.875rem;
		@include bp-large {
			justify-content: center;
			margin-bottom: 0rem;
		}
		.depth__img {
			padding-bottom: 2.188rem;
		}
		h3 {
			padding-bottom: 1.875rem;
		}
		p {
			text-align: center;
			font-size: 0.938rem;
		}
	}
	.laymens__exposure {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5.875rem;
		@include bp-large {
			// align-items: center;
			margin-bottom: 0rem;
			margin-left: 1.875rem;
			justify-content: center;
		}

		.exposure__img {
			padding-bottom: 2.188rem;
		}
		h3 {
			padding-bottom: 1.875rem;
		}
		p {
			text-align: center;
			font-size: 0.938rem;
		}
	}
}
footer {
	background-color: $pure-black;
	color: white;
	.footer-flex {
		display: flex;
		flex-direction: column;
		@include bp-large {
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			padding: 3.938rem 10.313rem;
		}
		.flex__left {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include bp-large {
				width: 50%;

				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}
			.flex__far__left {
				display: flex;
				flex-direction: column;
				width: 41.13%;
				@include bp-large {
					display: flex;
					flex-direction: column;
					width: 41.13%;
					justify-content: space-between;
				}

				.left__johnny {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-top: 3.438rem;
					padding-bottom: 1.938rem;
					@include bp-large {
						justify-content: space-around;
						padding-bottom: 5rem;
						padding-top: 0rem;
					}
					.logo {
						width: 15.77%;
						display: flex;
						@include bp-large {
							margin-right: 0.75rem;
						}
						img {
							width: 100%;
						}
					}
					p {
						font-family: 'DM Sans', sans-serif;
						font-weight: 500;
						width: 73.84%;
						text-align: center;
						@include bp-large {
							width: unset;
						}
					}
				}
				.left__socials {
					// width: 41.13%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-bottom: 3.125rem;
					@include bp-large {
						padding-bottom: unset;
						justify-content: space-around;
					}
				}
			}
			.footer-nav {
				display: flex;
				flex-direction: column;
				text-decoration: none;
				color: white;
				align-items: center;

				a:last-child {
					padding-bottom: 4.625rem;
					@include bp-large {
						padding-bottom: unset;
					}
				}
				a {
					text-decoration: none;
					color: white;
					font-family: 'DM Sans', sans-serif;
					font-weight: 500;
					font-size: 1rem;
					padding-bottom: 1.625rem;
					letter-spacing: 0.125rem;
					@include bp-large {
						width: 100%;
					}
				}
			}
		}
		.flex__right {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include bp-large {
				align-items: flex-end;
				width: 23.09%;
				justify-content: space-around;
			}
			a {
				text-decoration: none;
				color: white;
				background-color: $main-accent-flat;
				font-family: 'DM Sans', sans-serif;
				font-weight: 500;
				letter-spacing: 0.125rem;
				padding: 1rem 2.813rem;
				margin-bottom: 3.938rem;
				@include bp-large {
					letter-spacing: unset;
					width: 72.15%;
					margin-bottom: unset;
				}
			}
			span {
				font-size: 0.938rem;
				font-family: 'DM Sans', sans-serif;
				color: $light-grey;
				margin-bottom: 3.938rem;
			}
		}
	}
}
